<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vaxdiscussions">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VaxDiscussions">
        <activity android:name=".activities.Reply_page"></activity>
        <activity android:name=".activities.CovidDiscussions" />
        <activity android:name=".activities.Discussions_after_login" />
        <activity android:name=".vaccines.Diphtheria" />
        <activity android:name=".vaccines.HepatitisA" />
        <activity android:name=".vaccines.Influenza" />
        <activity android:name=".vaccines.HepatitisB" />
        <activity android:name=".vaccines.measles" />
        <activity android:name=".vaccines.Chickenpox" />
        <activity android:name=".vaccines.smallPox" />
        <activity android:name=".activities.Vaccine_info" />
        <activity android:name=".activities.Vaccine_entry" />
        <activity
            android:name=".activities.SettingsMenu"
            android:label="Settings"
            android:parentActivityName=".activities.LoginMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vaxdiscussions.activities.LoginMenu" />
        </activity>
        <activity
            android:name=".activities.ProfileMenu"
            android:label="Welcome Page"
            android:parentActivityName=".activities.ProfileMenu">
            <meta-data
                android:name="androis.support.PARENT_ACTIVITY"
                android:value="com.example.vaxdiscussions.VaccineInfo" />
        </activity>
        <activity
            android:name=".activities.DiscussionsList"
            android:label="Discussions"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vaxdiscussions.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.LoginMenu"
            android:label="@string/login_page_name"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vaxdiscussions.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.NewUser"
            android:label="Create New User"
            android:parentActivityName=".activities.LoginMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vaxdiscussions.activities.LoginMenu" />
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>