<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vaxdiscussions">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VaxDiscussions">
        <activity android:name=".Reply_page"></activity>
        <activity android:name=".CovidDiscussions" />
        <activity android:name=".Discussions_after_login" />
        <activity android:name=".Diphtheria" />
        <activity android:name=".HepatitisA" />
        <activity android:name=".Influenza" />
        <activity android:name=".HepatitisB" />
        <activity android:name=".measles" />
        <activity android:name=".Chickenpox" />
        <activity android:name=".smallPox" />
        <activity android:name=".Vaccine_info" />
        <activity android:name=".Vaccine_entry" />
        <activity
            android:name=".SettingsMenu"
            android:label="Settings"
            android:parentActivityName=".LoginMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vaxdiscussions.LoginMenu" />
        </activity>
        <activity
            android:name=".ProfileMenu"
            android:label="Welcome Page"
            android:parentActivityName=".ProfileMenu">
            <meta-data
                android:name="androis.support.PARENT_ACTIVITY"
                android:value="com.example.vaxdiscussions.VaccineInfo" />
        </activity>
        <activity
            android:name=".DiscussionsList"
            android:label="Discussions"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vaxdiscussions.MainActivity" />
        </activity>
        <activity
            android:name=".LoginMenu"
            android:label="@string/login_page_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vaxdiscussions.MainActivity" />
        </activity>
        <activity
            android:name=".NewUser"
            android:label="Create New User"
            android:parentActivityName=".LoginMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vaxdiscussions.LoginMenu" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>